.slider {
  position: relative;
}

.slider-track {
  animation: scroll 20s linear infinite;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

/* testimonials.css */
.testimonial-card {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.testimonial-card:hover {
  transform: translateY(-5px);
}

#testimonial-modal {
  backdrop-filter: blur(10px);
}


/* loader */
#skeleton-loader {
  position: fixed;
  inset: 0;
  background: #1f1f29;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 50;
}
.pulse-box {
  width: 80%;
  max-width: 800px;
  height: 60vh;
  background: #2a2a37;
  border-radius: 1rem;
  animation: pulse 1.5s ease-in-out infinite;
}
@keyframes pulse {
  0%, 100% { opacity: 1; }
  50% { opacity: .4; }
}